@import "fontface.styl"

.custom-fb-icon
  &:before
    color white
    content "\e902"
    font-family "icomoon"
    font-size 26px

#headerContainer
#topBar
  transform none !important

.custom-title-searchinput
  height 100% !important
  width 250px !important

.paper-input
  height 100% !important
  padding-top 0 !important

.title.custom-override
  height 100% !important
  margin-left 15px !important
